.Header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1rem;
}

.Header h1 {
  font-size: 1.6rem;
}

.Header-Informations {
  align-items: center;
  background: #f66960;
  border-radius: 6px;
  box-shadow: rgb(100 100 111 / 20%) 0 2px 29px 0;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0.4rem;
  width: 90%;
}

.Header-Informations div {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}
