.Login-Container {
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.Login-Form {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  justify-content: center;
  min-height: 60vh;
  width: 100%;
}

.Login-Form label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 40vw;
}

.Login-Form input {
  padding: 0.6rem;
}

.Login-Form button {
  cursor: pointer;
  min-width: 40vw;
  padding: 0.6rem;
}
